
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a style="cursor: pointer;" (click)="GoToHome();"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @if(products && products.length > 0){
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Name</th>
                                    <th class="text-center px-3">Color</th>
                                    <th class="text-center px-3">Size</th>
                                    <th class="px-3">Price</th>
                                    <!-- <th class="px-3">Discount</th>
                                    <th class="px-3">Actual Price</th> -->
                                    <th class="px-3">Quantity</th>
                                    <th class="px-3">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(product of products; track product.productId){
                                    <tr>
                                        <td class="cart__product__item" (click)="GoToProductDetails(product.productId)">
                                            <img [src]="product.image" alt="">
                                        </td>
                                        <td class="pointer cart__product__item">
                                            <div class="pointer cart__product__item__title p-0" (click)="GoToProductDetails(product.productId)">
                                                <p>{{product.productName}}</p>
                                            </div>
                                        </td>
                                        <td class="cart__product__item text-center">
                                            <label class="" for="red">
                                                <div type="radio" name="color__radio" id="red"></div>
                                                <span class="checkmark Kenan"  [ngStyle]="{'background': product.colorCode , 'border': (product.colorCode == '#fff' || product.colorCode == '#ffffff') ? '1px solid black' : '' }"></span>
                                            </label>
                                        </td>
                                        <td class="cart__product__item text-center">
                                            <label style="font-size: 25px;" id="sizelabel">
                                                {{product.size}}
                                            </label>
                                        </td>
                                        <td>
                                            <div class="cart__product__item__title">
                                                <p>{{product.priceAfterDiscount | egpCurrency}}</p>
                                                @if(product.discount > 0){
                                                    <p class="Discount Disposition">{{product.priceBeforeDiscount | egpCurrency}}</p>
                                                }
                                            </div>
                                        </td>
                                        <!-- <td>
                                            <div class="cart__product__item__title">
                                                <p>{{product.discount | egpCurrency}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart__product__item__title">
                                                <p>{{product.priceAfterDiscount | egpCurrency}}</p>
                                            </div>
                                        </td> -->
                                        <td class="cart__quantity text-center">
                                            <div>
                                                <app-quantity-counter [ParentSubject]="ParentSubject" [product]="GetCurrentProduct(product.productId,product.sizeId,product.colorId)" (outPutQuantity)="getQuantity($event)"></app-quantity-counter>
                                            </div>
                                        </td>
                                            <td class="cart__total">{{product.priceAfterDiscount * product.quantity | egpCurrency}}</td>
                                        <td class="cart__close" (click)="removeFromCartlist(product.productId, product.sizeId, product.colorId)"><span class="icon_close"></span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="cart__btn">
                                <a style="cursor: pointer;" (click)="GoToShop(1)">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="discount__content">
        
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-2">
                            <div class="cart__total__procced">
                                <h6>Cart total</h6>
                                <ul>
                                    @if(SubTotal != Total){
                                        <li>SubTotal <span class="Discount">{{SubTotal | egpCurrency}}</span></li>
                                    }
                                    <li>Total <span>{{Total | egpCurrency}}</span></li>
                                </ul>
                                <a style="cursor: pointer; color: white;" (click)="GoToCheckout()" class="primary-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                }@else{
                    @if(isLoading){
                        <div class="no-result-wrapper ">
                        <ngx-skeleton-loader
                        count="4"
                        [theme]="{ height: '15px', width: '100%' , 'margin-top': '25px'}"
                            ></ngx-skeleton-loader>
            </div>
                    }
                    @else{
                    <div class="d-flex flex-column align-items-center">
                        <p class="empty-box-text">Cart is empty</p>
                        <div class="cart__btn">
                            <a style="cursor: pointer;" [routerLink]="['/home']" fragment="target-div">Continue Shopping</a>
                        </div>
                    </div>
                }
                }
                </div>
            </div>

        </div>
    </section>